<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SocketUrl" value="wss://poa-delta.github.io/socket.io/?transport=websocket" />
    <add key="Provider" value="https://sokol.poa.network/oKy3doMu6apGNsmvua7V" />
    <add key="AddressEtherDelta" value="0xbe27129e42506c151b1c26a42a9dfdc123a75a8d" />
    <add key="AbiFile" value="../contracts/etherdelta.json" />
    <add key="TokenFile" value="../contracts/token.json" />
    <add key="Token" value="0xba5775cfbd48a00d014853296ea04fe6e9e4d838" />
    <add key="User" value="0x1a96f3bc6cd0e9db43e89f983d4227ec5f707539" />
    <add key="PrivateKey" value="1234567891234567891234567891234567891234567891234567891234567890" />
    <add key="UnitDecimals" value="18" />
    <add key="GasPrice" value="1000000000" />
    <add key="GasLimit" value="250000" />
  </appSettings>
</configuration>
